<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper blue-grey">
            <a href="" class="brand-logo center">Shortest Path</a>
            <ul class="right">
                <li><a href="/">Home</a></li>
                <li><a href="/shortest">Shortest Path</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <ul class="center">
            <form name="sign_in" action="" method="POST" class="form-inline">
                {{form.csrf}}
                <label for username_input>Username: </label>
                <input name="username" id="username_input" type="text">
                <label for username_input>Username: </label>
                <input name="username" id="username_input" type="text">
                <button name="submit" class="btn-primary">Log In</button>
            </form>
        </ul>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>