<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper blue-grey darken-2">
            <a href="" class="brand-logo center">The Vault</a>
            <ul class="right">
                <li><a href="/">Home</a></li>
                <li><a href="/">Register</a></li>
                <li><a href="/">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <ul class="center">
            <h6> Welcome to the Vault, User.</h6>
        </ul>
    </div>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>